* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    overflow-y: scroll; 
    max-height: 80vh; 
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.container::-webkit-scrollbar { 
    display: none;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: left;
}

h2 {
    font-size: 20px;
    color: #777;
    margin-bottom: 40px;
    text-align: left;
}

.card {
    border: 1px solid #ece6e6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.card-content {
    display: flex;
    align-items: center;
}

.card-image {
    width: 115px;
    height: 115px;
    background-color: #eee;
    margin-right: 20px;
}

.card-text {
    flex-grow: 1;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.card-button {
    padding: 10px 10px;
    background-color: #ece6e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #f0f0f0;
}
