
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left:  auto; 
    margin-right:25px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    
  }
  
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .auth-buttons .sign-in,
  .auth-buttons .register {
    padding: 8px 16px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid black;
  }
  
  .sign-in {
    background-color: #f7f7f7;
    color: #333;
    border: 1px solid #ccc;
  }
  
  .register {
    background-color: #333;
    color: #fff;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #eee;
  }
  
  .hero {
    text-align: center;
  }
  
  .hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .hero h2 {
    font-size: 20px;
    color: #888;
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
  }
  
  .button-light {
    padding: 10px 20px;
    background-color: #e0e0e0;
    border: none;
    color: #333;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid black;
    
  }
  
  .button-dark {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 7px;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    
    .auth-buttons {
      flex-direction: column;
      gap: 5px;
    }
  
    .hero h1 {
      font-size: 32px;
    }
  
    .hero h2 {
      font-size: 18px;
    }
  }
  